


{% extends 'base.html' %}
{%block title%}Multi Billionaire | A trustworthy E-commerce site{%endblock title%}
{% block body %}
{% load static %}
<div class="uni-checkout">
                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>Diabetes Prediction</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->

                    </div>
                </div>


                <main id="main" class="clearfix right_sidebar">
                    <div class="uni-checkout-body">
                        <div class="container">
                            <div class="tg-container">
                                <div id="primary">

                                    <div class="entry-thumbnail">

                                        <div class="entry-content-text-wrapper clearfix">
                                            <div class="entry-content-wrapper">
                                                <div class="entry-content">

                                                        <div class="row" style="margin-top: -100px;">
                                                            <div class="vk-checkout-billing-left">
                                                                <div class="col-md-6">
                                                                    <form action="{%url 'Detector:diabetes' %}" method="POST">
                                                                        {% csrf_token %}
                                                                    <div class="woocommerce-billing-fields">

                                                                        <h3>Enter the following parameters</h3>
                                                                        <div class="woocommerce-billing-fields__field-wrapper">

                                                                            <p class="form-row form-row-last validate-required" id="billing_company_field" >
                                                                                <label for="pre" class="">Pregnancies <abbr class="required" title="required">*</abbr></label>
                                                                                <input type="number" class="input-text " name="Pregnancies" id="pre" placeholder="" value="">
                                                                            </p>
                                                                            <p class="form-row form-row-last validate-required" id="billing_address_field" >
                                                                                <label for="Glucose" class="">Glucose <abbr class="required" title="required">*</abbr></label>
                                                                                <input type="number" class="input-text " name="Glucose" id="Glucose" placeholder="" value="">
                                                                            </p>
                                                                            <p class="form-row form-row-last validate-required" id="billing_town_city_field" >
                                                                                <label for="BloodPressure" class="">BloodPressure <abbr class="required" title="required">*</abbr></label>
                                                                                <input type="number" class="input-text " name="BloodPressure" id="BloodPressure" placeholder="" value="">
                                                                            </p>
                                                                            <p class="form-row form-row-last validate-required"  >
                                                                                <label for="SkinThickness" class="">SkinThickness <abbr class="required" title="required">*</abbr></label>
                                                                                <input type="number" class="input-text " name="SkinThickness" id="SkinThickness" placeholder="" value="" >
                                                                            </p>
                                                                            <p class="form-row form-row-last validate-required" >
                                                                                <label for="billing_postcode2" class="">Insulin <abbr class="required" title="required">*</abbr></label>
                                                                                <input type="number" class="input-text " name="Insulin" id="billing_postcode2" placeholder="" value="" required>
                                                                            </p>
                                                                            <p class="form-row form-row-last validate-required"  >
                                                                                <label for="BMI" class="">BMI <abbr class="required" title="required">*</abbr></label>
                                                                                <input type="number" step="0.01" name="BMI" id="BMI" placeholder="" value="" >
                                                                            </p>
                                                                            <p class="form-row form-row-last validate-required"  >
                                                                                <label for="DiabetesPedigreeFunction" class="">DiabetesPedigreeFunction  <abbr class="required" title="required">*</abbr></label>
                                                                                <input type="number" step="0.001" class="input-text " name="DiabetesPedigreeFunction" id="DiabetesPedigreeFunction" placeholder="" value="" >
                                                                            </p>
                                                                            <p class="form-row form-row-last validate-required"  >
                                                                                <label for="diabAge" class="">Age <abbr class="required" title="required">*</abbr></label>
                                                                                <input type="number" class="input-text " name="dAge" id="diabAge" placeholder="" value="" >
                                                                            </p>

                                                                             <div class="btn-all">
                                                                            <button type="submit" value="Submit"  data-value="Place order">Submit</button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </form>


                                                                </div>


                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div><!-- .entry-content -->
                                            </div>
                                        </div>
                                    </div>


                                </div> <!-- Primary end -->
                            </div>
                        </div>
                </main>
</div>

   {% endblock %}
