

{% extends 'base.html' %}
{%block title%}Multi Billionaire | A trustworthy E-commerce site{%endblock title%}
{% block body %}
{% load static %}


<!--load page-->


<!-- Mobile nav -->

<!-- End mobile menu -->






                <!--BANNER-->
                <div class="uni-banner">
                    <div class="uni-owl-one-item owl-carousel owl-theme">
                        <div class="item">
                            <div class="uni-banner-img uni-background-5"></div>
                            <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                                <div class="container">
                                    <div class="caption">
                                        <h1>Let us protect your health</h1>
                                        <p>
                                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                            <br>
                                            Donec eu libero sit amet quam egestas semper.
                                        </p>
                                        <a href="#">our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="uni-banner-img uni-background-6"></div>
                            <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                                <div class="container">
                                    <div class="caption">
                                        <h1>Let us protect your health</h1>
                                        <p>
                                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                            <br>
                                            Donec eu libero sit amet quam egestas semper.
                                        </p>
                                        <a href="#">our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="uni-banner-img uni-background-7"></div>
                            <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                                <div class="container">
                                    <div class="caption">
                                        <h1>Let us protect your health</h1>
                                        <p>
                                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                            <br>
                                            Donec eu libero sit amet quam egestas semper.
                                        </p>
                                        <a href="#">our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!--DEPARTMENT-->
                <div class="uni-hơm-1-department">
                    <div class="container">
                        <div class="uni-home-title">
                            <h3>Diseases</h3>
                            <div class="uni-underline"></div>
                        </div>
                        <div class="uni-shortcode-icon-box-1">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icon-box-1-default">
                                        <div class="item-icons">
                                            <img src="{% static 'images/icons_box/icon_1/sugar-blood-level.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="item-caption">
                                            <h4>Diabetes</h4>
                                            <p>Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy. Most of the food you eat is broken down into sugar (also called glucose) and released into your bloodstream. When your blood sugar goes up, it signals your pancreas to release insulin..</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icon-box-1-default">
                                        <div class="item-icons">
                                            <img src="{% static 'images/icons_box/icon_1/icon-4.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="item-caption">
                                            <h4>Liver</h4>
                                            <p>It helps your body digest food, store energy, and remove poisons. There are many kinds of liver diseases: Diseases caused by viruses, such as hepatitis A, hepatitis B, and hepatitis C. Diseases caused by drugs, poisons, or too much alcohol. Examples include fatty liver disease and cirrhosis.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icon-box-1-default">
                                        <div class="item-icons">
                                            <img src="{% static 'images/icons_box/icon_1/icon-3.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="item-caption">
                                            <h4>Coronary Heart Disease</h4>
                                            <p>Heart disease is a catch-all phrase for a variety of conditions that affect the heart’s structure and function. Coronary heart disease is a type of heart disease that develops when the arteries of the heart cannot deliver enough oxygen-rich blood to the heart. It is the leading cause of death in the United States.
</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icon-box-1-default">
                                        <div class="item-icons">
                                            <img src="{% static 'images/icons_box/icon_1/icon-2.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="item-caption">
                                            <h4>Kidney</h4>
                                            <p>Kidney disease means your kidneys are damaged and can't filter blood the way they should. You are at greater risk for kidney disease if you have diabetes or high blood pressure. If you experience kidney failure, treatments include kidney transplant or dialysis.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icon-box-1-default">
                                        <div class="item-icons">
                                            <img src="{% static 'images/icons_box/icon_1/icon-1.png'%}" alt="" class="img-responsive">
                                        </div>
                                        <div class="item-caption">
                                            <h4>Covid-19</h4>
                                            <p>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.

Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment. However, some will become seriously ill and require medical attention. Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age.</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!--OUR DOCTOR-->
               
                <!--OUR SERVICES-->
                <div class="uni-home-our-services">
                    <div class="uni-shortcode-icons-box-5">
                        <div class="container">

                            <div class="uni-home-title">
                                <h3>Our Services</h3>
                                <div class="uni-underline"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icons-box-5-default">
                                        <div class="item-icons-title">
                                            <div class="col-md-4 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="{% static 'images/icons_box/icon_4/icon-5.png'%}" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>Diabetes Prediction </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-caption">
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                                ultricies eget...
                                            </p>
                                            <a href="#" class="readmore">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icons-box-5-default">
                                        <div class="item-icons-title">
                                            <div class="col-md-4 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="{% static 'images/icons_box/icon_4/icon-4.png'%}" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>Coronary Heart Disease Prediction</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-caption">
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                                ultricies eget...
                                            </p>
                                            <a href="#" class="readmore">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icons-box-5-default">
                                        <div class="item-icons-title">
                                            <div class="col-md-4 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="{% static 'images/icons_box/icon_4/icon-3.png'%}" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>Liver Disease Prediction</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-caption">
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                                ultricies eget...
                                            </p>
                                            <a href="#" class="readmore">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icons-box-5-default">
                                        <div class="item-icons-title">
                                            <div class="col-md-4 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="{% static 'images/icons_box/icon_4/icon-2.png'%}" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>Kidney Disease Prediction</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-caption">
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                                ultricies eget...
                                            </p>
                                            <a href="#" class="readmore">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icons-box-5-default">
                                        <div class="item-icons-title">
                                            <div class="col-md-4 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="{% static 'images/icons_box/icon_4/icon-1.png'%}" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>Covid-19 Prediction</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-caption">
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                                ultricies eget...
                                            </p>
                                            <a href="#" class="readmore">Read more</a>
                                        </div>
                                    </div>
                                </div>
                          
                            </div>

                            <div class="btn-all-services">
                                <a href="#">All services +</a>
                            </div>

                        </div>
                    </div>
                </div>

                <!--CUSTOMERS SAY-->

   {% endblock %}





